#carouselBG {
  background-image: linear-gradient(rgb(43, 48, 53), white);
}
html {
  text-align: justify;
}
#about {
  background-image: url(../img/Forest.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: 1rem;
}
video {
  width: 100%;
}
figcaption {
  border: dotted gray 1px;
  padding: 1rem;
  background-color: lightgray;
  font-size: 80%;
}

/*2*/

li {
  margin-bottom: 1rem;
  margin-right: 2rem;
}
.star {
  background-image: url(../img/stars.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
#CM {
  padding: 3rem;
  padding-bottom: 1rem;
  font-size: 110%;
  border-radius: 5rem 0 0 0;
}
.leaf {
  border-radius: 5rem 0;
  background-color: gainsboro;
}
.leaf > h3 {
  text-align: left;
}
.laneImg {
  width: 100%;
  height: 100%;
}
#CMlist {
  border-radius: 0 0 5rem 0;
  font-size: 110%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
.deepList {
  list-style: none;
}

/*3*/
#legendGrid {
  background-image: url("../img/LegendGridDim.png");
  background-attachment: fixed;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50rem;
  color: white;
}
.legend {
  /*background-image:linear-gradient(rgb(117, 111, 103),rgb(46, 46, 41));*/
  background-image: linear-gradient(#5f2447, #3a162c);
  /*background-image:linear-gradient(rgb(2, 24, 81),rgb(0, 11, 43));*/
  padding: 2rem;
  color: white;
  border-radius: 2rem 0;
  font-size: 110%;
}
#formDiv {
  border: 1px solid black;
}
#formPic {
  height: 100%;
}
#reset {
  float: right;
}
.btn {
  height: 4rem;
  width: 49.5%;
}
#cards {
  background-image: url(../img/LegendGridDim.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#legTable {
  overflow: scroll;
  text-align: center;
}
table,
th,
td {
  border: 1px solid black;
}
th,
td {
  padding: 0.5rem;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
th {
  background-color: rgb(90, 90, 90);
  color: white;
}
caption {
  caption-side: top;
  padding: 2rem;
}
a#normalbetu {
  display: none;
}

.navr {
  border: 2px inset white;
  border-radius: 1em;
  background-color: rgb(48, 48, 48);
  color: blue;
  text-align: center;
}
.kipozicional a {
  position: absolute;
  left: -9999px;
}
.kipozicional a:focus {
  position: static;
  background: white;
}

p > a,
figcaption > a {
  color: rgb(127, 51, 0);
}
p > a,
figcaption > a:visited {
  color: rgb(62, 35, 0);
}
.lightLink {
  color: gold;
}
.lightLink:visited {
  color: rgb(255, 178, 11);
}

.pxhtml {
  padding: 0 5rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 130%;
}
.gainsboro {
  background-color: gainsboro;
}
footer {
  color: white;
}

/* nyomtatas */
@media print {
  html {
    font-size: 80%;
  }
  .star,
  li,
  p {
    color: black;
  }
  nav,
  footer,
  video,
  .navbar-brand,
  #carouselBG {
    display: none;
  }
  .shrinkable {
    width: 50%;
  }
  .leaf {
    width: 50%;
    padding: 0;
  }
  #cards {
    display: none;
  }
}
